body {
    font-family: Arial, sans-serif;
    background-color: #c2d2a0e1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.todo-container {
    background-color: #c7a6ae;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #6f5c78;
    width: 100%;
    max-width: 400px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    background-color: #d3c49d;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #6f5c78;
    color: #d3c49d;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #6f5c78cc;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #b8cec5;
    padding: 10px;
    border: 2px solid #6f5c78;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button {
    background-color: #6f5c78;
    border: none;
    color: #d3c49d;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

li button:hover {
    background-color: #6f5c78cc;
}
